.siteHeader {
    @include flexCentering;
    background-color: white;
    padding: 10px 20px 5px 20px;
    &__logo {
        margin: auto;
        font-size: 2rem;
        @media screen and (min-width:768px) {
            font-size: 2.5rem;
        }
    }
    &__button {
        color: $color-darkgrey;
        margin-right: -17.5px; /**marge négative de la largeur du bouton pour un centrage horizontale exacte du logo**/
    }
}