body {
  margin: 0;
}

.blocPage {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  font-family: "Roboto";
  font-size: 16px;
}

.title {
  font-family: "shrikhand";
  font-weight: 300;
  font-size: 2em;
}

.bicolorButton {
  border: none;
  height: 50px;
  min-width: 185px;
  padding: 0 26.5px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 0.96em;
  font-weight: 400;
  box-shadow: 0px 2px 8px #a3a2a2;
}
.bicolorButton:focus {
  outline: none;
}

.likeButton {
  font-size: 25px;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%;
  position: absolute;
  animation: disappear 0.8s 3s forwards;
}
.loadingSpinner__icone {
  font-size: 1.3em;
  transform: rotate(0deg);
  animation: rotation ease-in 2.35s;
  margin-top: 15px;
}
.loadingSpinner__paris {
  font-size: 1.07em;
  font-family: "raleway";
  opacity: 0;
  animation: scale linear 0.3s 2.35s forwards;
}
.loadingSpinner__hide {
  width: 100%;
  height: 88px;
  position: absolute;
  top: 41.5%;
  background-color: white;
  animation: color ease-in 2.35s forwards;
}

@keyframes scale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(252deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes color {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(20px);
  }
  70% {
    transform: translateY(35px);
  }
  80% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(88px);
  }
}
.blocPage {
  opacity: 0;
  animation: appear 0.8s 3.4s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.siteHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: raw;
  position: relative;
  background-color: white;
}
.siteHeader__logoTitle {
  margin: 15px 0 5px 0;
}
.siteHeader__button {
  position: absolute;
  left: 25px;
  bottom: 20px;
  color: #353535;
  font-size: 1.2em;
}

.siteFooter {
  background-color: #353535;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: raw;
  padding: 10px 0 25px 0;
}
.siteFooter .footerMenu {
  width: 85%;
  max-width: 450px;
}
.siteFooter .footerMenu__headline {
  font-family: "shrikhand";
  font-weight: 300;
  font-size: 2em;
  width: 150px;
}

.footerNavList {
  list-style-type: none;
  padding: 0;
}
.footerNavList__link {
  color: inherit;
  text-decoration: none;
}
.footerNavList__item {
  padding-bottom: 10px;
}
.footerNavList__icone {
  width: 10px;
  margin-right: 20px;
}

.localisation {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: raw;
  color: #353535;
  background-color: #eaeaea;
  box-shadow: inset 0 4px 4px #cecece;
}
.localisation__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: raw;
  font-size: 18px;
}
.localisation__place {
  margin: 0 20px;
  font-weight: 600;
}

.presentation {
  background-color: #f6f6f6;
  padding: 40px;
  text-align: center;
}
.presentation__headline {
  margin: 0;
  font-size: 1.6em;
  font-weight: 800;
}
.presentation__subhead {
  font-weight: 400;
  color: #353535;
}
.presentation__button {
  margin: 15px 0;
}

.reservationProcess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.reservationProcess__headline {
  width: 90%;
}

.reservationStep {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: raw;
  width: 90%;
  max-width: 450px;
  border-radius: 25px;
  box-shadow: 5px 5px 8px #e5e5e5;
  background-color: #f6f6f6;
  height: 75px;
  margin: 20px 0 20px 5px;
  position: relative;
}
.reservationStep__number {
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  position: absolute;
  left: -12.5px;
}
.reservationStep__icon {
  font-size: 18px;
  color: #7e7e7e;
  margin-left: 10px;
}
.reservationStep__icon--primaryColor {
  color: #9356DC;
}
.reservationStep__headline {
  margin-left: 20px;
}

.restaurantsList {
  width: 100%;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.restaurantsList__headline {
  width: 90%;
}

.restaurantCard {
  color: inherit;
  text-decoration: none;
  width: 90%;
  max-width: 450px;
  border-radius: 25px;
  box-shadow: 5px 5px 8px #e5e5e5;
  margin-bottom: 15px;
  position: relative;
  background-color: white;
}
.restaurantCard__image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.restaurantCard__image--positioning1 {
  object-position: 50% 95%;
}
.restaurantCard__image--positioning2 {
  object-position: 50% 61%;
}
.restaurantCard__headline {
  margin: 12px 0 5px 15px;
}
.restaurantCard__location {
  margin: 0 0 15px 15px;
}
.restaurantCard__likeButton {
  position: absolute;
  right: 25px;
  bottom: 30px;
}

.blocMenuPage {
  background-color: #f6f6f6;
}

.restaurantImage {
  width: 100%;
  max-width: 1300px;
  height: 250px;
  object-fit: cover;
  top: 65px;
}

.restaurantMenu {
  position: relative;
  top: -55px;
  background-color: #f6f6f6;
  width: 100%;
  max-width: 1300px;
  border-radius: 40px 40px 0 0;
  margin-bottom: 0;
}
.restaurantMenu .restaurantMenuHeader {
  font-family: "shrikhand";
  font-weight: 300;
  font-size: 1.1em;
  margin: 10px 40px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starters, .mainCourses, .desserts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.starters__headline, .mainCourses__headline, .desserts__headline {
  align-self: flex-start;
  margin: 10px 0px 10px 25px;
  font-weight: 300;
}
.starters__headline::after, .mainCourses__headline::after, .desserts__headline::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-top: 5px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.dish {
  width: 90%;
  max-width: 450px;
  border-radius: 15px;
  box-shadow: 5px 5px 8px #e5e5e5;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 12px;
}
.dish__title {
  margin: 12px 0 5px 15px;
  font-size: 1.02em;
}
.dish__details {
  font-size: 0.85em;
  margin: 0px 0 5px 15px;
}
.dish__price {
  margin: 0px 25px 12px 15px;
  color: #353535;
  font-weight: 800;
}

.orderButton {
  display: block;
  margin: 35px auto 10px auto;
}

/*# sourceMappingURL=style.css.map */
