.loadingSpinner {
    @include flexCentering(column);
    width:100%;
    height: 80%;
    position: absolute;
    animation: disappear 0.8s 3s forwards;
    &__icone {
        font-size: 1.3em;
        transform: rotate(0deg);
        animation: rotation ease-in 2.35s;
        margin-top: 15px;
    }
    &__paris {
        font-size: 1.07em;
        font-family: "raleway";
        opacity: 0;
        animation: scale linear 0.3s 2.35s forwards;
    }
    &__hide {
        width:100%;
        height:88px;
        position: absolute;
        top:41.5%;
        background-color:white;
        animation: color ease-in 2.35s forwards;
    }
}
@keyframes scale {
    0%   {
        opacity:(0);
    }
    100% { 
        opacity:(1);
    }
}

@keyframes rotation {
    0%   {
        transform: rotate(0deg);
    }
    20%   {
        transform: rotate(72deg); 
    }
    50%   {
        transform: rotate(180deg); 
    }
    70%   {
        transform: rotate(252deg); 
    }
    100% { 
        transform: rotate(360deg);
    }
}

@keyframes color {
    0%   {
        transform: translateY(0); 
    }
    20%   {
        transform: translateY(10px); 
    }
    50% { 
        transform: translateY(20px);
    }
    70% { 
        transform: translateY(35px);
    }
    80% { 
        transform: translateY(40px);
    }
    100% { 
        transform: translateY(88px);
    }
}


.blocPage {
    opacity:0;
    animation: appear 0.8s 3.4s forwards;
}


@keyframes appear {
    from   {
        opacity:0; 
}
    to { 
        opacity:1; 
    }
}

@keyframes disappear {
    from   {
        opacity:1; 
}
    to { 
        opacity:0; 
    }
}
