@keyframes appear {
    from   {
        opacity:0; 
}
    to { 
        opacity:1; 
    }
}

@keyframes disappear {
    from   {
        opacity:1; 
}
    to { 
        opacity:0; 
    }
}

@keyframes rotation360 {
    0%   {
        transform: rotate(0deg);
    }
    20%   {
        transform: rotate(72deg); 
    }
    50%   {
        transform: rotate(180deg); 
    }
    70%   {
        transform: rotate(252deg); 
    }
    100% { 
        transform: rotate(360deg);
    }
}

@keyframes hidingBlockVerticalTranslation {
    0%   {
        transform: translateY(0); 
    }
    20%   {
        transform: translateY(10px); 
    }
    50% { 
        transform: translateY(20px);
    }
    70% { 
        transform: translateY(35px);
    }
    80% { 
        transform: translateY(40px);
    }
    100% { 
        transform: translateY(80px);
    }
}

.homePageBlocPage{
    opacity:0;
    animation: appear 0.5s 3.4s forwards;
}
.loadingSpinner {
    @include flexCentering(column);
    width:100%;
    height: 80vh;
    position: absolute;
    animation: disappear 0.5s 3s forwards;
    &__icon {
        transform: rotate(0deg);
        animation: rotation360 ease-in 2.35s;
    }
    &__paris {
        font-family: "raleway", "Roboto", "sans-serif";
        opacity: 0;
        animation: appear linear 0.3s 2.35s forwards;
        margin-top: 5px;
    }
    &__logo{
        position: relative;
        &::after { /**Ce bloque masque le logo puis le laisse apparaitre progressivement**/
            content: "";
            display: block;
            height:48px;
            width:280px;
            position:absolute;
            top:0;
            background-color: white;
            animation: hidingBlockVerticalTranslation ease-in 2.35s forwards;
            @media screen and (min-width:767px) {
                width:110%;
                height:110%;
            }
        }
        & > img {
            @media screen and (min-width:767px) {
                width:340px;
            }
        }
    }
}