/**Ce partiel contient la mise en forme de l'étiquette "Nouveau" (labelNew) affichée sur les cards des restaurants 
de la home-page**/

.sticker {
    width: 80px;
    height: 29px;
    border-radius: 3px;
    background-color: $color-tertiary;
    color: #008766;
    text-align: center;
    line-height: 29px;
    font-weight: 500;
}